body 
{
	background-color: #f1f5f8;
	border-top: 10px solid #2980b9;
}

.portfolio
{
	margin: 48px 0;
}

.portfolio-sorting
{
	text-transform: uppercase;	
	font-size: 16px;
	margin-bottom: 48px;
}

.portfolio-sorting li a 
{
	color: #808080;
	text-decoration: none;
	padding: 6px;
}
.portfolio-sorting li a:hover,
.portfolio-sorting li a.active
{
	color: #57C5A0;
	border-bottom: 2px solid #57C5A0;
	
}

.portfolio-item 
{
	margin-bottom: 30px;
	display: block; 
	position: relative; 
	float: left; 
	overflow: hidden; 
	margin: 0 20px 20px 0;
	
	
}
figcaption { position: absolute; 
background: black; 
background: rgba(0,0,0,0.75); 
color: white; 
padding: 10px 20px; 
width: 250px;
opacity: 0; 
-webkit-transition: all 0.6s ease; 
-moz-transition: all 0.6s ease; 
-o-transition: all 0.6s ease; 
} 
figure:hover figcaption { opacity: 1; } 
figure:before { position: absolute; 
font-weight: 800; 
background: black; 
background: rgba(255,255,255,0.75); 
text-shadow: 0 0 5px white; 
color: black; 
width: 24px; 
height: 24px; 
-webkit-border-radius: 12px; 
-moz-border-radius: 12px; 
border-radius: 12px; 
text-align: center; 
font-size: 14px; 
line-height: 24px; 
-moz-transition: all 0.6s ease; 
opacity: 0.75; } 
figure:hover:before { opacity: 0; }


/**************
	FOOTER
***************/
footer
{
	border-top: 5px solid #2980b9;

	background-color: #34495e;
	padding: 24px;
	font-size: 16px;
}

footer,
footer a
{
	color: white;
}

footer a:hover 
{
	color: #2980b9;
}

footer .column ul li 
{
	margin-bottom: 6px;
}

footer .column h4 
{
	border-bottom: 2px solid #2980b9;
	padding-bottom: 12px;
    margin-bottom: 24px;
}

footer .column .glyphicon-chevron-right
{
	margin-right: 6px;
	color: #2980b9;
}

.social-icons 
{
	margin-bottom: 12px;	
}